/* Code tidied up by ScrapBook */

.news h1 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #00a0e9;
    margin-top: 10px;
}

.news .news-content {
    border-top: 1px solid rgb(222, 222, 222);
    padding-top: 20px;
    margin-top: -1px;
}

.news .news-left {
    width: 50%;
    height: 315px;
}

.news .news-left .switch-bar ul {
    background-color: rgb(249, 249, 248);
}

.news .news-left .switch-bar ul li {
    display: block;
    width: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    float: left;
}

.news .news-left .switch-bar ul li a {
    display: block;
}

.news .news-left .switch-bar ul li.current a {
    background: #00a0e9 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.news .news-left .tabcon {
    position: relative;
    width: 100%;
    height: 285px;
    overflow: hidden;
}

.news .news-left .tabcon .subbox {
    width: 96%;
    /*position: absolute; left: 0px; top: 0px; */
}

.news .news-left .sublist {
    float: left;
    width: 100%;
    height: 285px;
}

.news .news-left .sublist ul {
    margin-top: 5px;
    display: block;
}

.news .news-left .sublist li {
    height: 32px;
    line-height: 32px;
    display: block;
    position: relative;
}

.news .news-left .sublist li span {
    display: block;
    width: 78%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news .news-left .sublist li a {
    width: 100%;
    font-size: 14px;
    padding-left: 10px;
    display: inline-block;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0) url("../common.png") no-repeat scroll -197px -13px;
    overflow: hidden;
}

.news .news-left .sublist li a:hover {
    color: #00a0e9;
}

.news .news-left .sublist li em {
    font-style: normal;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}

.news .news-right {
    width: 50%;
}

.news .news-right .pictureContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.news .news-right .slideshow li {
    overflow: hidden;
    width: 100%;
    display: none;
}

.news .news-right .slideshow span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-indent: 10px;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
    overflow: hidden;
}

.news .news-right .slideshow span a {
    color: rgb(255, 255, 255);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 450px;
}

.news .news-right .pictureContainer .slidebar {
    position: absolute;
    bottom: 13px;
    right: 25px;
}

.news .news-right .pictureContainer .more {
    display: block;
    width: 12px;
    height: 12px;
    background: rgba(0, 0, 0, 0) url("../more.gif") repeat scroll 0% 0%;
    position: absolute;
    right: 7px;
    bottom: 11px;
}

.search {
    background: rgba(0, 0, 0, 0) url("../search.jpg") repeat-x scroll 0% 0%;
    padding: 10px 0;
    width: auto;
    height: 31px;
    width: 100%;
}

.leftkeywords {
    height: 25px;
    line-height: 25px;
}

.leftkeywords a {
    margin: 0 6px;
    font-size: 14px;
    color: #222;
}

.leftkeywords a:hover {
    color: #097bd1;
}

.search .search-form {
    position: relative;
}

.search .keywords {
    width: 218px;
    height: 26px;
    line-height: 26px;
    text-indent: 15px;
    background-color: rgb(255, 255, 255);
    color: #222;
    font-family: Microsoft Yahei;
    border: 1px solid #c3c3c3;
}

.search .search_btn {
    top: 0px;
    right: 0px;
    width: 38px;
    height: 28px;
    background: rgba(0, 0, 0, 0) url("../icon_search.jpg") no-repeat;
    background-size: 100% 100%;
    border: 0px none;
    cursor: pointer;
}

.case {
    padding-top: 10px;
}

.case .project {
    width: 49%;
    margin-right: 1%;
}

.case .project a {
    display: block;
    width: 100%;
    height: 100%;
}

.case .cooper {
    width: 49%;
    margin-left: 1%;
}

.case .cooper a {
    display: block;
    width: 100%;
    height: 100%;
}


/*手机版轮播图*/

.focus {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.focus .hd {
    width: 100%;
    height: 11px;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    text-align: center;
}

.focus .hd ul {
    display: inline-block;
    height: 5px;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    vertical-align: top;
}

.focus .hd ul li {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #8C8C8C;
    margin: 0 5px;
    vertical-align: top;
    overflow: hidden;
}

.focus .hd ul .on {
    background: #FE6C9C;
}

.focus .bd {
    position: relative;
    z-index: 0;
}

.focus .bd li img {
    width: 100%;
    height: 140px;
    background: url(../loading.gif) center center no-repeat;
}

.focus .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 取消链接高亮 */
}


/*新闻*/

.slideTxtBox .hd ul li.on a {
    background: #00a0e9;
    color: #fff;
    border-radius: 3px;
}


/*新闻图片*/

.slideImgBox {
    overflow: hidden;
    position: relative;
}

.slideImgBox .hd {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.slideImgBox .hd li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0px 4px;
    cursor: pointer;
    display: block;
    background: rgba(0, 0, 0, 0) url("../common.png") no-repeat scroll -47px -26px;
}

.slideImgBox .hd li.on {
    background: rgba(0, 0, 0, 0) url("../common.png") no-repeat scroll -58px -26px;
}

.slideImgBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.slideImgBox .bd li {
    zoom: 1;
    vertical-align: middle;
}

.slideImgBox .bd img {
    display: block;
}

@media (min-width: 1025px) {
    .focus {
        display: none;
    }
}

@media (max-width: 1024px) {
    .slideBox1 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .news .news-left,
    .news .news-right {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    .bottom_left {
        width: 60%;
    }
    .bottom_right {
        width: 40%;
    }
    .footer_logo img {
        max-width: 90px;
    }
    .company_info {
        margin-left: 20px;
        padding-left: 20px;
    }
    .bottom_right .imgbox img {
        max-width: 100px;
    }
}

@media (max-width: 767px) {
    .leftkeywords {
        display: none;
    }
    .search .search-form {
        float: none;
        width: 90%;
        margin: 0 auto;
        height: 28px;
        line-height: 28px;
        position: relative;
        border: 1px solid #c3c3c3;
        background: #fff;
    }
    .search .keywords {
        width: 100%;
        text-indent: 5px;
        padding-right: 38px;
        box-sizing: border-box;
        border: 0;
        height: 28px;
        line-height: 28px;
    }
    .news .news-left,
    .news .news-right {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    .bottom_left {
        width: 100%;
    }
    .bottom_right {
        width: 100%;
        text-align: center;
    }
    .footer_logo img {
        max-width: 50px;
    }
    .company_info {
        margin-left: 10px;
        padding-left: 10px;
        font-size: 13px;
        line-height: 22px;
    }
    .bottom_right .imgbox img {
        max-width: 100px;
    }
    .news .news-left .switch-bar ul li {
        width: 25%;
    }
    .news .news-left .sublist li span {
        width: 70%;
    }
    .footer .footer_top {
        text-align: center;
    }
    .footer .footer_top .top_right {
        text-align: left;
    }
    .footer .footer_top .friend-ico {
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }
    .footer .footer_top .top_right p {
        margin: 4px 0;
    }
}